.fixed {
    position: fixed;
    left: 0;
    top: 0;
    color: #DFF5FF;
    background-color: black;
    width: 100%;
    padding: 18px;
    min-height: 20px;
}

img {
    height: 600px;
    width: 1250px;
    margin-top: 20px;
}
.h1 {
    color: blue;
    margin-top: 150px;
    font-size: 20px;
    
}